# Join Statements

## Introduction

In this lab, you'll practice your knowledge on Join statements.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table we will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, we'll use the same Customer Relationship Management (CRM) database we used in our lecture before!
<img src='Database-Schema.png' width=550>

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [2]:
#Your code here
import sqlite3
import pandas as pd

conn = sqlite3.connect('data.sqlite', detect_types = sqlite3.PARSE_COLNAMES)
cursor = conn.cursor()

## Display the names of all the employees in Boston.

In [20]:
#Your code here
cursor.execute("""
SELECT firstName FROM employees
    join offices
    on employees.officeCode = offices.officeCode
    WHERE city = 'Boston';
""").fetchall()

[('Julie',), ('Steve',)]

## Do any offices have no employees?

In [47]:
#Your code here
cursor.execute('''
SELECT COUNT(*), city FROM offices 
    GROUP BY offices.city
    ORDER BY offices.city
''').fetchall()

[(1, 'Boston'),
 (1, 'London'),
 (1, 'NYC'),
 (1, 'Paris'),
 (1, 'San Francisco'),
 (1, 'Sydney'),
 (1, 'Tokyo')]

In [46]:
cursor.execute("""
SELECT COUNT(*), city FROM offices 
    JOIN employees
    ON offices.officeCode = employees.officeCode
    GROUP BY offices.officeCode
    ORDER BY offices.city
""").fetchall()
#    WHERE COUNT(employees.employeeNumber) = 0;

[(2, 'Boston'),
 (2, 'London'),
 (2, 'NYC'),
 (5, 'Paris'),
 (6, 'San Francisco'),
 (4, 'Sydney'),
 (2, 'Tokyo')]

In [49]:
cursor.execute('''
SELECT COUNT(*) FROM employees
''').fetchall()

[(23,)]

## Write 3 Questions of your own and answer them

In [65]:
# Answers will vary 
# How many orders did each of the top three customers make? 
# How many orders and what were their names?

cursor.execute('''
SELECT customerName, COUNT(*) FROM customers
    JOIN orders
    ON orders.customerNumber = customers.customerNumber
    GROUP BY customerName
    ORDER BY COUNT(*) DESC LIMIT(3);
''').fetchall()

[('Euro+ Shopping Channel', 26),
 ('Mini Gifts Distributors Ltd.', 17),
 ('Australian Collectors, Co.', 5)]

In [83]:
# Your code here
# How many employees are there with the job title "sales person" are there?
# How many customers does each sales rep have? 
# Who are the top three sales reps? 
cursor.execute('''
SELECT firstName, lastName, COUNT(customerNumber) FROM employees
    JOIN customers
    ON customers.salesRepEmployeeNumber = employees.employeeNumber
    WHERE jobTitle LIKE '%sales rep%'
    OR jobTitle LIKE '%Sales Rep%'
    GROUP BY employeeNumber
    ORDER BY COUNT(customerNumber) DESC
    LIMIT(3)
''').fetchall()

[('Pamela', 'Castillo', 10), ('Barry', 'Jones', 9), ('George', 'Vanauf', 8)]

In [91]:
# Your code here
# How much are customers paying in amount?
# How much are the top three customers paying in total amount? 
cursor.execute('''
SELECT customerName, SUM(amount) FROM customers
    JOIN payments
    ON payments.customerNumber = customers.customerNumber
    GROUP BY customerName
    ORDER BY SUM(amount) DESC
    LIMIT(3)
''').fetchall()

[('Euro+ Shopping Channel', 715738.9800000001),
 ('Mini Gifts Distributors Ltd.', 584188.24),
 ('Australian Collectors, Co.', 180585.07)]

In [ ]:
# Your code here

## Level Up: Display the names of each product each employee has sold.

In [97]:
# Your code here
cursor.execute('''
SELECT firstName, lastName FROM employees
    JOIN customers
    ON employees.employeeNumber = salesRepEmployeeNumber
    JOIN orders
    ON orders.customerNumber = customers.customerNumber
    JOIN orderdetails
    ON orderdetails.orderNumber = orderNumber
    JOIN products
    ON orderdetails.productCode = products.productCode
    g
''').fetchall()

[('Leslie', 'Jennings'),
 ('Leslie', 'Jennings'),
 ('Leslie', 'Jennings'),
 ('Leslie', 'Jennings'),
 ('Leslie', 'Jennings'),
 ('Leslie', 'Jennings'),
 ('Leslie', 'Thompson'),
 ('Leslie', 'Thompson'),
 ('Leslie', 'Thompson'),
 ('Leslie', 'Thompson'),
 ('Leslie', 'Thompson'),
 ('Leslie', 'Thompson'),
 ('Julie', 'Firrelli'),
 ('Julie', 'Firrelli'),
 ('Julie', 'Firrelli'),
 ('Julie', 'Firrelli'),
 ('Julie', 'Firrelli'),
 ('Julie', 'Firrelli'),
 ('Steve', 'Patterson'),
 ('Steve', 'Patterson'),
 ('Steve', 'Patterson'),
 ('Steve', 'Patterson'),
 ('Steve', 'Patterson'),
 ('Steve', 'Patterson'),
 ('Foon Yue', 'Tseng'),
 ('Foon Yue', 'Tseng'),
 ('Foon Yue', 'Tseng'),
 ('Foon Yue', 'Tseng'),
 ('Foon Yue', 'Tseng'),
 ('Foon Yue', 'Tseng'),
 ('Foon Yue', 'Tseng'),
 ('George', 'Vanauf'),
 ('George', 'Vanauf'),
 ('George', 'Vanauf'),
 ('George', 'Vanauf'),
 ('George', 'Vanauf'),
 ('George', 'Vanauf'),
 ('George', 'Vanauf'),
 ('George', 'Vanauf'),
 ('Loui', 'Bondur'),
 ('Loui', 'Bondur'),
 ('Loui', 'Bondur'),
 ('Loui', 'Bondur'),
 ('Loui', 'Bondur'),
 ('Loui', 'Bondur'),
 ('Gerard', 'Hernandez'),
 ('Gerard', 'Hernandez'),
 ('Gerard', 'Hernandez'),
 ('Gerard', 'Hernandez'),
 ('Gerard', 'Hernandez'),
 ('Gerard', 'Hernandez'),
 ('Gerard', 'Hernandez'),
 ('Pamela', 'Castillo'),
 ('Pamela', 'Castillo'),
 ('Pamela', 'Castillo'),
 ('Pamela', 'Castillo'),
 ('Pamela', 'Castillo'),
 ('Pamela', 'Castillo'),
 ('Pamela', 'Castillo'),
 ('Pamela', 'Castillo'),
 ('Pamela', 'Castillo'),
 ('Pamela', 'Castillo'),
 ('Larry', 'Bott'),
 ('Larry', 'Bott'),
 ('Larry', 'Bott'),
 ('Larry', 'Bott'),
 ('Larry', 'Bott'),
 ('Larry', 'Bott'),
 ('Larry', 'Bott'),
 ('Larry', 'Bott'),
 ('Barry', 'Jones'),
 ('Barry', 'Jones'),
 ('Barry', 'Jones'),
 ('Barry', 'Jones'),
 ('Barry', 'Jones'),
 ('Barry', 'Jones'),
 ('Barry', 'Jones'),
 ('Barry', 'Jones'),
 ('Barry', 'Jones'),
 ('Andy', 'Fixter'),
 ('Andy', 'Fixter'),
 ('Andy', 'Fixter'),
 ('Andy', 'Fixter'),
 ('Andy', 'Fixter'),
 ('Peter', 'Marsh'),
 ('Peter', 'Marsh'),
 ('Peter', 'Marsh'),
 ('Peter', 'Marsh'),
 ('Peter', 'Marsh'),
 ('Mami', 'Nishi'),
 ('Mami', 'Nishi'),
 ('Mami', 'Nishi'),
 ('Mami', 'Nishi'),
 ('Mami', 'Nishi'),
 ('Martin', 'Gerard'),
 ('Martin', 'Gerard'),
 ('Martin', 'Gerard'),
 ('Martin', 'Gerard'),
 ('Martin', 'Gerard'),
 ('Martin', 'Gerard')]

## Level Up: Display the Number of Products each Employee Has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use Join statements, along with leveraging your foreign keys knowledge!