# Join Statements

## Introduction

In this lab, you'll practice your knowledge on Join statements.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table we will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, we'll use the same Customer Relationship Management (CRM) database we used in our lecture before!
<img src='Database-Schema.png' width=550>

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [2]:
#Your code here
import sqlite3
import pandas as pd

conn = sqlite3.connect('data.sqlite', detect_types = sqlite3.PARSE_COLNAMES)
cursor = conn.cursor()

## Display the names of all the employees in Boston.

In [20]:
#Your code here
cursor.execute("""
SELECT firstName FROM employees
    join offices
    on employees.officeCode = offices.officeCode
    WHERE city = 'Boston';
""").fetchall()

[('Julie',), ('Steve',)]

## Do any offices have no employees?

In [47]:
#Your code here
cursor.execute('''
SELECT COUNT(*), city FROM offices 
    GROUP BY offices.city
    ORDER BY offices.city
''').fetchall()

[(1, 'Boston'),
 (1, 'London'),
 (1, 'NYC'),
 (1, 'Paris'),
 (1, 'San Francisco'),
 (1, 'Sydney'),
 (1, 'Tokyo')]

In [46]:
cursor.execute("""
SELECT COUNT(*), city FROM offices 
    JOIN employees
    ON offices.officeCode = employees.officeCode
    GROUP BY offices.officeCode
    ORDER BY offices.city
""").fetchall()
#    WHERE COUNT(employees.employeeNumber) = 0;

[(2, 'Boston'),
 (2, 'London'),
 (2, 'NYC'),
 (5, 'Paris'),
 (6, 'San Francisco'),
 (4, 'Sydney'),
 (2, 'Tokyo')]

In [49]:
cursor.execute('''
SELECT COUNT(*) FROM employees
''').fetchall()

[(23,)]

## Write 3 Questions of your own and answer them

In [65]:
# Answers will vary 
# How many orders did each of the top three customers make? 
# How many orders and what were their names?

cursor.execute('''
SELECT customerName, COUNT(*) FROM customers
    JOIN orders
    ON orders.customerNumber = customers.customerNumber
    GROUP BY customerName
    ORDER BY COUNT(*) DESC LIMIT(3);
''').fetchall()

[('Euro+ Shopping Channel', 26),
 ('Mini Gifts Distributors Ltd.', 17),
 ('Australian Collectors, Co.', 5)]

In [83]:
# Your code here
# How many employees are there with the job title "sales person" are there?
# How many customers does each sales rep have? 
# Who are the top three sales reps? 
cursor.execute('''
SELECT firstName, lastName, COUNT(customerNumber) FROM employees
    JOIN customers
    ON customers.salesRepEmployeeNumber = employees.employeeNumber
    WHERE jobTitle LIKE '%sales rep%'
    OR jobTitle LIKE '%Sales Rep%'
    GROUP BY employeeNumber
    ORDER BY COUNT(customerNumber) DESC
    LIMIT(3)
''').fetchall()

[('Pamela', 'Castillo', 10), ('Barry', 'Jones', 9), ('George', 'Vanauf', 8)]

In [86]:
# Your code here
# How much are customers paying in amount?
cursor.execute('''
SELECT customerName, SUM(amount) FROM customers
    JOIN payments
    ON payments.customerNumber = customers.customerNumber
    GROUP BY customerName
    ORDER BY 
''').fetchall()

[('AV Stores, Co.', 148410.09),
 ('Alpha Cognac', 60483.36),
 ('Amica Models & Co.', 82223.23),
 ("Anna's Decorations, Ltd", 137034.22),
 ('Atelier graphique', 22314.36),
 ('Australian Collectables, Ltd', 44920.759999999995),
 ('Australian Collectors, Co.', 180585.07),
 ('Australian Gift Network, Co', 55190.159999999996),
 ('Auto Associ√©s & Cie.', 58876.409999999996),
 ('Auto Canal+ Petit', 86436.97),
 ('Auto-Moto Classics Inc.', 21554.260000000002),
 ('Baane Mini Imports', 104224.79),
 ('Bavarian Collectables Imports, Co.', 31310.09),
 ('Blauer See Auto, Co.', 75937.76000000001),
 ('Boards & Toys Co.', 7918.6),
 ('CAF Imports', 46751.14),
 ('Cambridge Collectables Co.', 32198.690000000002),
 ('Canadian Gift Exchange Network', 70122.19),
 ('Classic Gift Ideas, Inc', 57939.34),
 ('Classic Legends Inc.', 69214.33),
 ('Clover Collections, Co.', 49898.270000000004),
 ('Collectable Mini Designs Co.', 80375.24),
 ('Collectables For Less Inc.', 73533.65000000001),
 ('Corporate Gift Ideas Co.', 132340.78),
 ('Corrida Auto Replicas, Ltd', 112440.09),
 ('Cruz & Sons Co.', 87468.3),
 ('Daedalus Designs Imports', 61781.7),
 ('Danish Wholesale Imports', 107446.5),
 ('Diecast Classics Inc.', 98509.25),
 ('Diecast Collectables', 65541.74),
 ('Double Decker Gift Stores, Ltd', 29586.15),
 ('Down Under Souveniers, Inc', 154622.08000000002),
 ('Dragon Souveniers, Ltd.', 156251.03),
 ('Enaco Distributors', 68520.47),
 ('Euro+ Shopping Channel', 715738.9800000001),
 ('Extreme Desk Decorations, Ltd', 66704.94),
 ('Frau da Collezione', 25358.32),
 ('FunGiftIdeas.com', 88627.49),
 ('Gift Depot Inc.', 95424.63),
 ('Gift Ideas Corp.', 49967.78),
 ('Gifts4AllAges.com', 33533.47),
 ('GiftsForHim.com', 56662.38),
 ('Handji Gifts& Co', 105420.57),
 ('Heintze Collectables', 89909.79999999999),
 ('Herkku Gifts', 97562.47),
 ('Iberia Gift Imports, Corp.', 50987.850000000006),
 ("Kelly's Gift Shop", 114497.19),
 ('King Kong Collectables, Co.', 45480.79),
 ("L'ordine Souveniers", 90143.31),
 ("La Corne D'abondance, Co.", 86553.52),
 ('La Rochelle Gifts', 116949.68000000001),
 ('Land of Toys Inc.', 107639.94),
 ('Lyon Souveniers', 67659.19),
 ('Marseille Mini Autos', 71547.53),
 ("Marta's Replicas Co.", 90545.37),
 ("Men 'R' US Retailers, Ltd.", 41506.19),
 ('Microscale Inc.', 29230.43),
 ('Mini Auto Werke', 51059.990000000005),
 ('Mini Caravy', 75859.32),
 ('Mini Classics', 78432.16),
 ('Mini Creations Ltd.', 101872.51999999999),
 ('Mini Gifts Distributors Ltd.', 584188.24),
 ('Mini Wheels Co.', 66710.56),
 ('Motor Mint Distributors Inc.', 77726.59),
 ('Muscle Machine Inc', 177913.94999999998),
 ('Norway Gifts By Mail, Co.', 69059.04),
 ('Online Diecast Creations Co.', 116449.29000000001),
 ('Online Mini Collectables', 55577.26),
 ('Osaka Souveniers Co.', 62361.219999999994),
 ('Oulu Toy Supplies, Inc.', 95706.15),
 ('Petit Auto', 62253.850000000006),
 ('Qu√©bec Home Shopping Network', 68977.67),
 ('Reims Collectables', 126983.19),
 ('Rovelli Gifts', 127529.69),
 ('Royal Canadian Collectables, Ltd.', 66812.0),
 ('Royale Belge', 29217.180000000004),
 ('Salzburg Collectables', 85060.0),
 ('Saveley & Henriot, Co.', 130305.35),
 ('Scandinavian Gift Ideas', 76776.44),
 ('Signal Collectibles Ltd.', 42570.37),
 ('Signal Gift Stores', 80180.98),
 ('Souveniers And Things Co.', 91655.61000000002),
 ('Stylish Desk Decors, Co.', 80556.73),
 ('Suominen Souveniers', 103896.73999999999),
 ('Super Scale Inc.', 70378.65),
 ('Technics Stores Inc.', 104545.22),
 ('Tekni Collectables Inc.', 38281.509999999995),
 ('The Sharp Gifts Warehouse', 59551.38),
 ('Tokyo Collectables, Ltd', 105548.73),
 ('Toms Spezialit√§ten, Ltd', 89223.14),
 ('Toys of Finland, Co.', 95546.46),
 ('Toys4GrownUps.com', 93803.29999999999),
 ('UK Collectables, Ltd.', 61167.18000000001),
 ('Vida Sport, Ltd', 108777.92),
 ('Vitachrome Inc.', 72497.64),
 ('Volvo Model Replicas, Co', 43680.65),
 ('West Coast Collectables Co.', 43748.72),
 ('giftsbymail.co.uk', 71783.75)]

In [ ]:
# Your code here

## Level Up: Display the names of each product each employee has sold.

In [ ]:
# Your code here

## Level Up: Display the Number of Products each Employee Has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use Join statements, along with leveraging your foreign keys knowledge!