# Join Statements

## Introduction

In this lab, you'll practice your knowledge on Join statements.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table we will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, we'll use the same Customer Relationship Management (CRM) database we used in our lecture before!
<img src='Database-Schema.png' width=550>

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [2]:
#Your code here
import sqlite3
import pandas as pd

conn = sqlite3.connect('data.sqlite', detect_types = sqlite3.PARSE_COLNAMES)
cursor = conn.cursor()

## Display the names of all the employees in Boston.

In [20]:
#Your code here
cursor.execute("""
SELECT firstName FROM employees
    join offices
    on employees.officeCode = offices.officeCode
    WHERE city = 'Boston';
""").fetchall()

[('Julie',), ('Steve',)]

## Do any offices have no employees?

In [47]:
#Your code here
cursor.execute('''
SELECT COUNT(*), city FROM offices 
    GROUP BY offices.city
    ORDER BY offices.city
''').fetchall()

[(1, 'Boston'),
 (1, 'London'),
 (1, 'NYC'),
 (1, 'Paris'),
 (1, 'San Francisco'),
 (1, 'Sydney'),
 (1, 'Tokyo')]

In [46]:
cursor.execute("""
SELECT COUNT(*), city FROM offices 
    JOIN employees
    ON offices.officeCode = employees.officeCode
    GROUP BY offices.officeCode
    ORDER BY offices.city
""").fetchall()
#    WHERE COUNT(employees.employeeNumber) = 0;

[(2, 'Boston'),
 (2, 'London'),
 (2, 'NYC'),
 (5, 'Paris'),
 (6, 'San Francisco'),
 (4, 'Sydney'),
 (2, 'Tokyo')]

In [49]:
cursor.execute('''
SELECT COUNT(*) FROM employees
''').fetchall()

[(23,)]

## Write 3 Questions of your own and answer them

In [58]:
# Answers will vary 
# How many orders has each customer made? 

cursor.execute('''
SELECT customerName FROM customers
    JOIN orders
    ON orders.customerNumber = customers.customerNumber
    GROUP BY customer;
''').fetchall()

[('Atelier graphique',),
 ('Signal Gift Stores',),
 ('Australian Collectors, Co.',),
 ('La Rochelle Gifts',),
 ('Baane Mini Imports',),
 ('Mini Gifts Distributors Ltd.',),
 ('Havel & Zbyszek Co',),
 ('Blauer See Auto, Co.',),
 ('Mini Wheels Co.',),
 ('Land of Toys Inc.',),
 ('Euro+ Shopping Channel',),
 ('Volvo Model Replicas, Co',),
 ('Danish Wholesale Imports',),
 ('Saveley & Henriot, Co.',),
 ('Dragon Souveniers, Ltd.',),
 ('Muscle Machine Inc',),
 ('Diecast Classics Inc.',),
 ('Technics Stores Inc.',),
 ('Handji Gifts& Co',),
 ('Herkku Gifts',),
 ('American Souvenirs Inc',),
 ('Porto Imports Co.',),
 ('Daedalus Designs Imports',),
 ("La Corne D'abondance, Co.",),
 ('Cambridge Collectables Co.',),
 ('Gift Depot Inc.',),
 ('Osaka Souveniers Co.',),
 ('Vitachrome Inc.',),
 ('Toys of Finland, Co.',),
 ('AV Stores, Co.',),
 ('Clover Collections, Co.',),
 ('Auto-Moto Classics Inc.',),
 ('UK Collectables, Ltd.',),
 ('Canadian Gift Exchange Network',),
 ('Online Mini Collectables',),
 ('Toys4GrownUps.com',),
 ('Asian Shopping Network, Co',),
 ('Mini Caravy',),
 ('King Kong Collectables, Co.',),
 ('Enaco Distributors',),
 ('Boards & Toys Co.',),
 ('Natürlich Autos',),
 ('Heintze Collectables',),
 ('Québec Home Shopping Network',),
 ('ANG Resellers',),
 ('Collectable Mini Designs Co.',),
 ('giftsbymail.co.uk',),
 ('Alpha Cognac',),
 ('Messner Shopping Network',),
 ('Amica Models & Co.',),
 ('Lyon Souveniers',),
 ('Auto Associés & Cie.',),
 ('Toms Spezialitäten, Ltd',),
 ('Royal Canadian Collectables, Ltd.',),
 ('Franken Gifts, Co',),
 ("Anna's Decorations, Ltd",),
 ('Rovelli Gifts',),
 ('Souveniers And Things Co.',),
 ("Marta's Replicas Co.",),
 ('BG&E Collectables',),
 ('Vida Sport, Ltd',),
 ('Norway Gifts By Mail, Co.',),
 ('Schuyler Imports',),
 ('Der Hund Imports',),
 ('Oulu Toy Supplies, Inc.',),
 ('Petit Auto',),
 ('Mini Classics',),
 ('Mini Creations Ltd.',),
 ('Corporate Gift Ideas Co.',),
 ('Down Under Souveniers, Inc',),
 ('Stylish Desk Decors, Co.',),
 ('Tekni Collectables Inc.',),
 ('Australian Gift Network, Co',),
 ('Suominen Souveniers',),
 ('Cramer Spezialitäten, Ltd',),
 ('Classic Gift Ideas, Inc',),
 ('CAF Imports',),
 ("Men 'R' US Retailers, Ltd.",),
 ('Asian Treasures, Inc.',),
 ('Marseille Mini Autos',),
 ('Reims Collectables',),
 ('SAR Distributors, Co',),
 ('GiftsForHim.com',),
 ('Kommission Auto',),
 ('Gifts4AllAges.com',),
 ('Online Diecast Creations Co.',),
 ('Lisboa Souveniers, Inc',),
 ('Precious Collectables',),
 ('Collectables For Less Inc.',),
 ('Royale Belge',),
 ('Salzburg Collectables',),
 ('Cruz & Sons Co.',),
 ("L'ordine Souveniers",),
 ('Tokyo Collectables, Ltd',),
 ('Auto Canal+ Petit',),
 ('Stuttgart Collectable Exchange',),
 ('Extreme Desk Decorations, Ltd',),
 ('Bavarian Collectables Imports, Co.',),
 ('Classic Legends Inc.',),
 ('Feuer Online Stores, Inc',),
 ('Gift Ideas Corp.',),
 ('Scandinavian Gift Ideas',),
 ('The Sharp Gifts Warehouse',),
 ('Mini Auto Werke',),
 ('Super Scale Inc.',),
 ('Microscale Inc.',),
 ('Corrida Auto Replicas, Ltd',),
 ('Warburg Exchange',),
 ('FunGiftIdeas.com',),
 ('Anton Designs, Ltd.',),
 ('Australian Collectables, Ltd',),
 ('Frau da Collezione',),
 ('West Coast Collectables Co.',),
 ('Mit Vergnügen & Co.',),
 ('Kremlin Collectables, Co.',),
 ('Raanan Stores, Inc',),
 ('Iberia Gift Imports, Corp.',),
 ('Motor Mint Distributors Inc.',),
 ('Signal Collectibles Ltd.',),
 ('Double Decker Gift Stores, Ltd',),
 ('Diecast Collectables',),
 ("Kelly's Gift Shop",)]

In [ ]:
# Your code here

In [ ]:
# Your code here

In [ ]:
# Your code here

## Level Up: Display the names of each product each employee has sold.

In [ ]:
# Your code here

## Level Up: Display the Number of Products each Employee Has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use Join statements, along with leveraging your foreign keys knowledge!