# Join Statements

## Introduction

In this lab, you'll practice your knowledge on Join statements.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table we will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, we'll use the same Customer Relationship Management (CRM) database we used in our lecture before!
<img src='Database-Schema.png' width=550>

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [2]:
#Your code here
import sqlite3
import pandas as pd

conn = sqlite3.connect('data.sqlite', detect_types = sqlite3.PARSE_COLNAMES)
cursor = conn.cursor()

## Display the names of all the employees in Boston.

In [20]:
#Your code here
cursor.execute("""
SELECT firstName FROM employees
    join offices
    on employees.officeCode = offices.officeCode
    WHERE city = 'Boston';
""").fetchall()

[('Julie',), ('Steve',)]

## Do any offices have no employees?

In [47]:
#Your code here
cursor.execute('''
SELECT COUNT(*), city FROM offices 
    GROUP BY offices.city
    ORDER BY offices.city
''').fetchall()

[(1, 'Boston'),
 (1, 'London'),
 (1, 'NYC'),
 (1, 'Paris'),
 (1, 'San Francisco'),
 (1, 'Sydney'),
 (1, 'Tokyo')]

In [46]:
cursor.execute("""
SELECT COUNT(*), city FROM offices 
    JOIN employees
    ON offices.officeCode = employees.officeCode
    GROUP BY offices.officeCode
    ORDER BY offices.city
""").fetchall()
#    WHERE COUNT(employees.employeeNumber) = 0;

[(2, 'Boston'),
 (2, 'London'),
 (2, 'NYC'),
 (5, 'Paris'),
 (6, 'San Francisco'),
 (4, 'Sydney'),
 (2, 'Tokyo')]

In [49]:
cursor.execute('''
SELECT COUNT(*) FROM employees
''').fetchall()

[(23,)]

## Write 3 Questions of your own and answer them

In [65]:
# Answers will vary 
# How many orders did each of the top three customers make? 
# How many orders and what were their names?

cursor.execute('''
SELECT customerName, COUNT(*) FROM customers
    JOIN orders
    ON orders.customerNumber = customers.customerNumber
    GROUP BY customerName
    ORDER BY COUNT(*) DESC LIMIT(3);
''').fetchall()

[('Euro+ Shopping Channel', 26),
 ('Mini Gifts Distributors Ltd.', 17),
 ('Australian Collectors, Co.', 5)]

In [83]:
# Your code here
# How many employees are there with the job title "sales person" are there?
# How many customers does each sales rep have? 
# Who are the top three sales reps? 
cursor.execute('''
SELECT firstName, lastName, COUNT(customerNumber) FROM employees
    JOIN customers
    ON customers.salesRepEmployeeNumber = employees.employeeNumber
    WHERE jobTitle LIKE '%sales rep%'
    OR jobTitle LIKE '%Sales Rep%'
    GROUP BY employeeNumber
    ORDER BY COUNT(customerNumber) DESC
    LIMIT(3)
''').fetchall()

[('Pamela', 'Castillo', 10), ('Barry', 'Jones', 9), ('George', 'Vanauf', 8)]

In [91]:
# Your code here
# How much are customers paying in amount?
# How much are the top three customers paying in total amount? 
cursor.execute('''
SELECT customerName, SUM(amount) FROM customers
    JOIN payments
    ON payments.customerNumber = customers.customerNumber
    GROUP BY customerName
    ORDER BY SUM(amount) DESC
    LIMIT(3)
''').fetchall()

[('Euro+ Shopping Channel', 715738.9800000001),
 ('Mini Gifts Distributors Ltd.', 584188.24),
 ('Australian Collectors, Co.', 180585.07)]

In [ ]:
# Your code here

## Level Up: Display the names of each product each employee has sold.

In [93]:
# Your code here
cursor.execute('''
SELECT name FROM employees
''').fetchall()

[('1002',
  'Murphy',
  'Diane',
  'x5800',
  'dmurphy@classicmodelcars.com',
  '1',
  '',
  'President'),
 ('1056',
  'Patterson',
  'Mary',
  'x4611',
  'mpatterso@classicmodelcars.com',
  '1',
  '1002',
  'VP Sales'),
 ('1076',
  'Firrelli',
  'Jeff',
  'x9273',
  'jfirrelli@classicmodelcars.com',
  '1',
  '1002',
  'VP Marketing'),
 ('1088',
  'Patterson',
  'William',
  'x4871',
  'wpatterson@classicmodelcars.com',
  '6',
  '1056',
  'Sales Manager (APAC)'),
 ('1102',
  'Bondur',
  'Gerard',
  'x5408',
  'gbondur@classicmodelcars.com',
  '4',
  '1056',
  'Sale Manager (EMEA)'),
 ('1143',
  'Bow',
  'Anthony',
  'x5428',
  'abow@classicmodelcars.com',
  '1',
  '1056',
  'Sales Manager (NA)'),
 ('1165',
  'Jennings',
  'Leslie',
  'x3291',
  'ljennings@classicmodelcars.com',
  '1',
  '1143',
  'Sales Rep'),
 ('1166',
  'Thompson',
  'Leslie',
  'x4065',
  'lthompson@classicmodelcars.com',
  '1',
  '1143',
  'Sales Rep'),
 ('1188',
  'Firrelli',
  'Julie',
  'x2173',
  'jfirrelli@classicmodelcars.com',
  '2',
  '1143',
  'Sales Rep'),
 ('1216',
  'Patterson',
  'Steve',
  'x4334',
  'spatterson@classicmodelcars.com',
  '2',
  '1143',
  'Sales Rep'),
 ('1286',
  'Tseng',
  'Foon Yue',
  'x2248',
  'ftseng@classicmodelcars.com',
  '3',
  '1143',
  'Sales Rep'),
 ('1323',
  'Vanauf',
  'George',
  'x4102',
  'gvanauf@classicmodelcars.com',
  '3',
  '1143',
  'Sales Rep'),
 ('1337',
  'Bondur',
  'Loui',
  'x6493',
  'lbondur@classicmodelcars.com',
  '4',
  '1102',
  'Sales Rep'),
 ('1370',
  'Hernandez',
  'Gerard',
  'x2028',
  'ghernande@classicmodelcars.com',
  '4',
  '1102',
  'Sales Rep'),
 ('1401',
  'Castillo',
  'Pamela',
  'x2759',
  'pcastillo@classicmodelcars.com',
  '4',
  '1102',
  'Sales Rep'),
 ('1501',
  'Bott',
  'Larry',
  'x2311',
  'lbott@classicmodelcars.com',
  '7',
  '1102',
  'Sales Rep'),
 ('1504',
  'Jones',
  'Barry',
  'x102',
  'bjones@classicmodelcars.com',
  '7',
  '1102',
  'Sales Rep'),
 ('1611',
  'Fixter',
  'Andy',
  'x101',
  'afixter@classicmodelcars.com',
  '6',
  '1088',
  'Sales Rep'),
 ('1612',
  'Marsh',
  'Peter',
  'x102',
  'pmarsh@classicmodelcars.com',
  '6',
  '1088',
  'Sales Rep'),
 ('1619',
  'King',
  'Tom',
  'x103',
  'tking@classicmodelcars.com',
  '6',
  '1088',
  'Sales Rep'),
 ('1621',
  'Nishi',
  'Mami',
  'x101',
  'mnishi@classicmodelcars.com',
  '5',
  '1056',
  'Sales Rep'),
 ('1625',
  'Kato',
  'Yoshimi',
  'x102',
  'ykato@classicmodelcars.com',
  '5',
  '1621',
  'Sales Rep'),
 ('1702',
  'Gerard',
  'Martin',
  'x2312',
  'mgerard@classicmodelcars.com',
  '4',
  '1102',
  'Sales Rep')]

## Level Up: Display the Number of Products each Employee Has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use Join statements, along with leveraging your foreign keys knowledge!