# Join Statements

## Introduction

In this lab, you'll practice your knowledge on Join statements.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table we will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, we'll use the same Customer Relationship Management (CRM) database we used in our lecture before!
<img src='Database-Schema.png' width=550>

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [2]:
#Your code here
import sqlite3
import pandas as pd

conn = sqlite3.connect('data.sqlite', detect_types = sqlite3.PARSE_COLNAMES)
cursor = conn.cursor()

## Display the names of all the employees in Boston.

In [20]:
#Your code here
cursor.execute("""
SELECT firstName FROM employees
    join offices
    on employees.officeCode = offices.officeCode
    WHERE city = 'Boston';
""").fetchall()

[('Julie',), ('Steve',)]

## Do any offices have no employees?

In [47]:
#Your code here
cursor.execute('''
SELECT COUNT(*), city FROM offices 
    GROUP BY offices.city
    ORDER BY offices.city
''').fetchall()

[(1, 'Boston'),
 (1, 'London'),
 (1, 'NYC'),
 (1, 'Paris'),
 (1, 'San Francisco'),
 (1, 'Sydney'),
 (1, 'Tokyo')]

In [46]:
cursor.execute("""
SELECT COUNT(*), city FROM offices 
    JOIN employees
    ON offices.officeCode = employees.officeCode
    GROUP BY offices.officeCode
    ORDER BY offices.city
""").fetchall()
#    WHERE COUNT(employees.employeeNumber) = 0;

[(2, 'Boston'),
 (2, 'London'),
 (2, 'NYC'),
 (5, 'Paris'),
 (6, 'San Francisco'),
 (4, 'Sydney'),
 (2, 'Tokyo')]

In [49]:
cursor.execute('''
SELECT COUNT(*) FROM employees
''').fetchall()

[(23,)]

## Write 3 Questions of your own and answer them

In [60]:
# Answers will vary 
# How many orders did each of the top three customers make? 

cursor.execute('''
SELECT COUNT(*) FROM customers
    JOIN orders
    ON orders.customerNumber = customers.customerNumber
    GROUP BY customerName
    ORDER BY C;
''').fetchall()

[(3,),
 (3,),
 (2,),
 (4,),
 (3,),
 (3,),
 (5,),
 (3,),
 (2,),
 (3,),
 (3,),
 (4,),
 (1,),
 (4,),
 (2,),
 (2,),
 (2,),
 (2,),
 (2,),
 (3,),
 (2,),
 (2,),
 (3,),
 (4,),
 (3,),
 (3,),
 (2,),
 (5,),
 (4,),
 (2,),
 (2,),
 (5,),
 (5,),
 (3,),
 (26,),
 (3,),
 (2,),
 (3,),
 (3,),
 (3,),
 (3,),
 (3,),
 (4,),
 (2,),
 (3,),
 (2,),
 (4,),
 (2,),
 (3,),
 (3,),
 (4,),
 (4,),
 (3,),
 (3,),
 (2,),
 (2,),
 (2,),
 (3,),
 (3,),
 (2,),
 (3,),
 (17,),
 (3,),
 (3,),
 (4,),
 (2,),
 (3,),
 (2,),
 (2,),
 (3,),
 (3,),
 (3,),
 (5,),
 (3,),
 (2,),
 (4,),
 (4,),
 (3,),
 (3,),
 (2,),
 (3,),
 (4,),
 (3,),
 (3,),
 (2,),
 (4,),
 (3,),
 (4,),
 (4,),
 (2,),
 (3,),
 (3,),
 (3,),
 (2,),
 (3,),
 (4,),
 (2,),
 (2,)]

In [ ]:
# Your code here

In [ ]:
# Your code here

In [ ]:
# Your code here

## Level Up: Display the names of each product each employee has sold.

In [ ]:
# Your code here

## Level Up: Display the Number of Products each Employee Has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use Join statements, along with leveraging your foreign keys knowledge!